
.slick-slider{
    width: auto !important;
    display: flex !important;
    justify-content: center !important;
}

.slick-slider, .slick-initialized{
    width: 90% !important;
}
.slick-arrow, .slick-prev, .slick-next{
    /* display: none !important; */
}
.slick-prev:before, .slick-next:before{
    opacity: 100 !important;
    color: black;
    font-size: 30px;
    display: block;
    height: 100%;
}
.slick-prev:before{content: '\25C0';} .slick-next:before{content: '\25B6';}