
.slick-slider{
    width: auto !important;
    display: flex !important;
    justify-content: center !important;
}

.slick-slider, .slick-initialized{
    width: 90% !important;
}
.slick-arrow, .slick-prev, .slick-next{
    display: none !important;
}
